<!-- Toolbar template starts -->
<div class="toolbar align-center">
  <button class="back-button clickable" [disabled]="currentFolder.data.id === RootId" (click)="navigateFolder('bwd')">
    <img width="12px" [style.visibility]="currentFolder.data.id === RootId ? 'hidden' : ''"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAIDAAACAwBDO6GDAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHzSURBVHic7d29ahRRHIbx+HEfWqQQq6hNBInmdo2VYCFpvBsbYxKTJQGLxyJjIwueMzDzfznz/GDrfeFhDssyO3twIEmSJC0KeAZ8Ai6BO+AceFO9a5OA4ynEv26Ao+p9mzLFuN4T46/z6o2b0RCD6fh6VL11eI0xAHbVW4fXEQPgrHrv0DpjXALPqzcPCzgFdo0xfuAnrOUYI4gxghgjiDGCGCOIMYIYI4gxghgjiDGCGCPIjBivqjcPyxhBjBHEGEE6Y1wYY0HGCGKMIMYIYowgxghijCDGCGKMIMYIYowgM2K8rt48LGMEMUYQYwQxRhBjBDFGEOAlcNUY4xfwrnrz0ICzxhg3xlgB8N1j6v8er/herT+8Z9EVegB8bDyy/J5qDcAh+x/u4tFVBTji4ca1FlfAcfXm4XVGuTbKCowSyCiBjBLIKIGMEsgogWZEeVu9eXidUW6Bk+rNwzNKIPqei/gTn0C9vBlXyvvqzcMzSiCjBDJKIKMEMkogowSaEeVD9ebhGSWQUQIZJZBRAhklkFECGSWQUQIZJZBRAs2Iclq9eXidUXZGWYFRAhklEP1/vXpYvXl4nVE+V+/dhI7j6x54Ur13ExqvlN/A0+qtm9EQ5Vv1xs2Zoux7OM493jdcA3gBfAHuptdXY0iSJI3gD6uoWhxeGVc0AAAAAElFTkSuQmCC">
  </button>

  <ng-container *ngFor="let breadCrumb of breadCrumbs; let last = last">
    <button [ngClass]="last ? 'pwd' : 'bread-crumb clickable'" class="navigation-button"
      (click)="navigateFolder('jmp', breadCrumb)">
      {{breadCrumb.name}}
    </button>
  </ng-container>


  <button (click)="toggleNewFolderDialog()" class="align-center clickable new-folder-button" title="Ctrl + Space">
    <div class="icons8-add-folder-filled mr-2"></div>
    New Folder
  </button>
</div>
<!-- Toolbar template ends -->

<!-- Folder template starts -->
<ng-container *ngIf="currentFolder?.data?.contents?.length; else emptyDirectoryTemplate">
  <ng-container *ngFor="let folder of currentFolder.data.contents">
    <div class="folder clickable align-center" (click)="navigateFolder('fwd', folder)">
      <div class="icons8-folder"></div>
      <span class="ml-2">
        {{folder.name}}
      </span>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyDirectoryTemplate>
  <div class="empty-folder">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="150" height="150" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#cccccc">
            <path
              d="M17.2,13.76c-5.68976,0 -10.32,4.63024 -10.32,10.32v20.64h3.44h151.36h3.44v-6.88c0,-5.68976 -4.63024,-10.32 -10.32,-10.32l-92.72547,0.02016c-0.95976,-0.34744 -2.9447,-3.50767 -4.0111,-5.20703c-2.63848,-4.21056 -5.37296,-8.57312 -9.90344,-8.57312zM10.32,51.6c-1.89888,0 -3.44,1.54112 -3.44,3.44v92.88c0,5.70008 4.61992,10.32 10.32,10.32h137.6c5.70008,0 10.32,-4.61992 10.32,-10.32v-92.88c0,-1.89888 -1.54112,-3.44 -3.44,-3.44z">
            </path>
          </g>
        </g>
      </svg>
    </div>
    <div class="empty-folder-content">
      Folder is empty
    </div>
  </div>
</ng-template>
<!-- Folder template ends -->

<!-- Modal popup for new folder starts -->
<div class="overlay" [style.display]="folderAdditionInProgress ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <span class="pull-left clickable align-center modal-button cancel" (click)="toggleNewFolderDialog()">Cancel</span>
      <button class="pull-right align-center clickable modal-button add"
        (click)="addFolder(newFolderNameInput.value)">Create</button>
      <h4 class="modal-title">New Folder</h4>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        Folder name
      </div>
      <input class="p-1 new-folder-input" type="text" [(ngModel)]="newFolderNameValue" #newFolderNameInput autofocus
        (keyup.enter)="addFolder(newFolderNameInput.value)">
      <div class="mt-3" *ngIf="checkIfFolderAlreadyExists(newFolderNameValue)">
        Folder name already exists
      </div>
    </div>
  </div>
</div>
<!-- Modal popup for new folder ends -->